
<div style="align-content: center; background-color:rgb(255, 237, 189);color:sienna">
    <h3 style="text-align: center;"><i>DATA OF USER</i></h3>
    <table class="table-responsive" style="width:100%; padding:22px" >
        <tr>
            <th>ID</th>
            <th>NAME</th>
        </tr>
        <tbody >
            <tr>
                <td>{{user.id}}</td>
                <td>{{user.name}}</td>
            </tr>
        </tbody>
    </table>
</div>
<hr>
<!--  -->
<p>esto es para parámetros de consulta, es directiva de routerLink definiendo pares 
de clave –valor para la consulta.
fragment: “loading” ,cargar un fragmento es otra prop de router</p>
<div class="row">
    <div class="button-list">
        <div class="col-xs-12">
            <button class="btn btn-success">
                <a [routerLink]="['/users',1]" [queryParams]="{valorParaEdit:'108'}" fragment="aLaCarga">
                    Anna-queryParams
                </a>
            </button>
            <button class="btn btn-danger" (click)="cargaUserConParams(22222)">cargaUsuConParams</button>
            <button class="btn btn-success" (click)="cargaUserSinParams()">cargaUsuarios</button>
            <button class="btn btn-warning" (click)="getUsersStatus('active')">getActive</button>
            <button class="btn btn-warning" (click)="getUsersStatus('inactive')">getInactives</button>
    
        </div>
    </div>
    

<div class="row" style="background-color: rgb(241, 90, 216);">
    <div class="col-xs-4">
        numero: {{numero}}
    </div>
    <div class="col-xs-4" style="background-color: rgb(109, 171, 241);">
        letra: {{letra}}
    </div>
    <div class="col-xs-4" style="background-color: rgb(122, 129, 136); font: bold; color: cornsilk;">
        to do:
    </div>
</div>

<div>
    <a href="#demo" data-toggle="collapse">Collapsible</a>

<div id="demo" class="collapse">
<p>Lorem ipsum dolor text....</p>
</div>
</div>
<div class="dropdown">
    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Dropdown Example
    <span class="caret"></span></button>
    <ul class="dropdown-menu">
      <li><a href="#">HTML</a></li>
      <li><a href="#">CSS</a></li>
      <li><a href="#">JavaScript</a></li>

      <li><i class="fas fa-cloud-sun">fa</i></li>
    </ul>
  </div>

 
  
