* Bordered form */
form {
  border: 3px solid #d30707;
}

/* Full-width inputs */
input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid rgb(140, 163, 85);
  box-sizing: border-box;
}

/* Set a style for all buttons */
button {
  background-color: rgb(182, 245, 140);
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}
/* boton directiva */
#directiva{
  background-color: khaki;
  background: khaki linear-gradient(90deg,rgb(161, 226, 175), rgb(194, 191, 28)) repeat-y;
  color: cyan;
  font-size: 22px;
}
.card{
  height: 350px;  
}
.card-header {
  text-transform: uppercase;
  background: lightblue linear-gradient(180deg,rgb(103, 231, 131), rgb(28, 194, 28)) repeat-x;
  border-color: blue;
  height: 3.5rem;
  color: aliceblue;
  font-size: 1rem;
  font-weight: bold;
}
 .drop-zone {
  margin-top: 2rem;
  border: dotted 2px rgb(230, 245, 16);
  color: rgb(212, 27, 236);
  height: 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.subir{
  width: 30%;
  border-radius: 50%;
}
 .card-body {
  /* flex-direction: column;
  justify-content: center;
  align-items: center; */
  border-left: solid 1px red;
}
 .container-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.table {
  padding-top: 2rem;
}
/* termina directivas */

/* Add a hover effect for buttons */
button:hover {
  opacity: 0.8;
}

/* a{
  float: right ;
  transition-duration: 0.4s;  
  color: aliceblue;
  background-color: #0d2ff0;
  width: 20%;
} */

/* Extra style for the cancel button (red) */
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

/* Center the avatar image inside this container */
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}

/* Avatar image */
img.avatar, .fenix {
  width: 30%;
  border-radius: 50%;
}

/* Add padding to containers */
.container {
  padding: 16px;
}

/* The "Forgot password" text */
span.psw {
  float: right;
  padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
    display: block;
    float: none;
  }
  .cancelbtn {
    width: 100%;
  }

  .btn-social { background-color: red;
    position: relative;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    border-color: rgba(0, 6, 0, 2)
  }
  .btn-facebook {
    color: white;
    background: blue;
  }
  .btn-google  {
    background-color: tomato;
    color: red;
  }
  
}