<div class="container" style="background-color: deepskyblue; margin-top: 2rem;">
  <!-- Directiva de nombre appImage desde helper-->
  
  <button class="btn btn-danger" (click)= "fetchPosts()">Fetch Posts</button>
  <button class="btn btn-primary" 
      appImage 
      id="directiva">
    Directiv download img
  </button>
  <hr>
  <div class="row">
    <div class="col-xs-4 col-md-4">
      <div class="card">
        <div class="card-header">
          <h4>Files</h4>
        </div>
        <!--Abajo agrego Directiva desde helper, appImage -->
        <div class="card-body">
          <!-- Abajo: directiva appImage, Inputs files y imageList para probar 2 tipos,
          Escuchara evento mouseOver y cambia prop por el evento
        Ademas ngClass cambia segun prop -->
          <div 
            class="drop-zone"
            appImage
            [imageList]="imageLista"
            [files]="listFiles"
            (mouseOver)="isOverDropArrastrado=$event"
            [ngClass]="{'file-over': isOverDropArrastrado}"
            >
            <!-- <span>Drop Zone</span> -->
            <h4>Drop your images</h4>
            <img src='\assets\Imagenes\nube.jpg' alt="Subir ficheros" class="subir">
          </div>
        </div>
        <div>
        <button class="btn btn-success" id="mi_boton" #mi_boton 
            style="display: block;width:90%;"
          (click)="prevent()">
          <i class="fa fa-anchor" style="font-size: 24px;"></i>          
          prevent
        </button>
        </div>
        <div>
          <button id="mi_enlace" #mi_enlace 
            (click)="enlace()">
            <a href="https://www.w3schools.com/icons/fontawesome_icons_webapp.asp" 
              target="blank">
              Font Awesome Icons
           </a>
          </button>          
        </div>
        <div><button class="btn btn-primary"
          (click)="extrarerImageness()">extract to
        </button></div>
      </div>
    </div>
    <div class="col-xs-8 mt-5 col-md-8 mt-5">
      <div class="card">
        <div class="card-header">
          <h4>Files to Upload</h4>
        </div>
        <div class="card-body" *ngIf="imgParaLoad" >
          <h4  style="margin-top: 2rem;">Files</h4>          
          <table class="table">
            <thead>
              <tr>
                <th>File name</th>
                <th>Size</th>
                <th>Progress</th>
                <th>URL</th>
              </tr>
            </thead>
            <!--     <td *ngIf="fi.uploadPercent | async as uploadPercent"> 
                  <div class="progress">
                    <div class="progress-bar progress-bar-striped bg-success" 
                        role="progressbar" 
                        [ngStyle]="{width: (uploadPercent | async) + '%'}">
                        o
                        [style.width]="(uploadPercent | async) + '%'">
                      >
                      {{uploadPercent |  number : "1.0-0"}} %
                    </div>
                  </div>
                </td>
              <td>{{fi.file.size / 1024 / 1024 | number: ".2.2"} MB}</td>
              <td *ngIf="fi.downloadUrl | async as downloadUrl">
                <a href="downloadUrl" target="blank">URL</a>
                {{fi.downloadUrl}}
              </td> -->
            <tbody>
              <tr *ngFor="let fi of imageLista">
                <td>{{fi.title}}</td>
                <td>{{fi.size2}}  KB</td>
            
                <td>
                  <!-- progress-bar -->
                  <div class="progress mt-12"> <!-- seria margin top = 12 -->
                    <div class="progress-bar progress-bar-striped bg-success" 
                        role="progressbar"
                        [ngStyle]="{width: (uploadPercent | async) + '%'}">
                    </div>
                  </div>
                </td>
                <td>                   
                   <a href="{{imgUrl | async}}" target="blank">{{imgUrl | async}}</a>
                </td>
              </tr>
            </tbody>
          </table>
          <div class="container-buttons">
            <button class="btn btn-danger" 
              (click)="imageLista=[]"> <!-- Limpia el array de imagenes del ts -->
              Clean All
            </button>
            <button class="btn btn-primary" 
              (click)="onUploadAllImag()"
              [disabled]="imageLista.length===0"> 
              Upload
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
  <hr>
<div id="panelLog">

  <p id="pMostrarLogueado"></p>

  <div class="container" style="border: 1px double orange">
    <p>app-incremental y app-count-click</p>
    <app-incremental></app-incremental>
  </div>
  <div>
    <app-count-click></app-count-click>
  </div>
  <div>
    <app-star></app-star>
  </div>
  <hr>

            <button class="btn" style="background-color: yellow; color: black;" 
              (click)="updateUser()"> 
              Great Data reel
            </button>

  <form action="action" method="post">

    <div class="imgcontainer" >
      <!-- <img src="img_avatar2.png" alt="Avatar" class="avatar"> -->
      <img src='assets\Imagenes\centro-atletico-fenix.jpg' alt="Fenix" class="fenix">
    </div>

    <div class="container">
      <!-- // la clase container deja mas chico el div -->
      <label for="txtUserName"><b>Username</b></label>
      <input type="text" placeholder="Enter Username" id="txtUserName" #txtUserName name="txtUserName" required>

      <label for="txtEmail"><b>E-mail</b></label>
      <input type="text" id="txtEmail" #txtEmail name="txtEmail" placeholder="Email">

      <label for="slcSexo"><b>Gender</b></label>
      <select id="slcSexo" name="slcSexo" #slcSexo data-role="slider" style=" width: 100% ; display: block;">
        <option value="" [disabled]>Select one</option>
        <option value="Hommo">Hombre</option>
        <option value="Women">Mujer</option>
        <option value="Other">Other</option>
      </select>

      <label for="txtpsw"><b>Password</b></label>
      <input type="password" placeholder="Enter Password" #txtpsw required>

      <!-- elijo una imagen y con change llama al metodo que le pasa el evento -->
      <label for="imagen"><b>Choose imagen</b> </label>
      <input type="file" 
        name="imagen" 
        id="imagen" #imagen
        accept=".jpg, .png" 
        (change)="onLoadImg($event)"
      >

        <!-- **************************** -->
        <button *ngIf="imgUrl | async; else vemos"
          type="submit" class="btn btn-primary"> 
          Entelechy
        </button>
        <br>
        <hr>
        <input 
          type="hidden"
          [value]="imgUrl | async"
        >
        <hr>
        <ng-template #vemos>
          <h3 style="text-transform: uppercase; color: chartreuse;">Entelechy</h3>
        </ng-template>
        <!-- **************************** -->
      <br>

      <!-- progress-bar -->
      <div class="progress mt-12"> <!-- seria margin top = 12 -->
        <div class="progress-bar progress-bar-striped bg-success" 
            role="progressbar"
          [style.width]="(uploadPercent | async) + '%'">
        </div>
      </div>

      <hr>
      <!-- Solo para ver la imgUrl -->
      <div *ngIf="imgUrl | async; then btnDisable1 else btnDisable2"></div>

      <div>
        <ng-template #btnDisable1>
          <h2 style="color: blue; font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">
            Data of image
          </h2>
          <div class="container-buttons">
            <button class="btn btn-danger" id="btnAncor" #btnAncor 
              style="display: block; background-color: brown; width: 100%;"
              [disabled]='!imgUrl' 
              (click)='registerUser()'>
              <i class="fa fa-anchor" style="font-size: 24px;"></i>
              Register
            </button>
            <button class="btn btn-primary" 
              (click)="updateUser()"> 
              update User
            </button>
          </div> 

          <input type="text" [value]="imgUrl | async" #imagUrl>
          
        </ng-template>

        <!-- <span class="pull-right" style="display: block;"> -->
        <div class="imgcontainer">
          <img [src]=imgParaLoad  
            alt="{{imgParaLoadnombre}}" 
            class="fenix">
            <!-- class="img-responsive" style="max-height: 150px;" -->
        </div>
        <!-- </span> -->

        <ng-template #btnDisable2>
          <h2 style="color: blue; font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">
            Ant
          </h2>
        </ng-template>
      </div>

      <div class="row">
        <div class="col-xs-6 col-md-6">
          <button class="btn btn-facebook" style="background-color: rgb(98, 98, 202);" 
            (click)="onLoginFace()">
            <a style="color: white">
              <i class="fa fa-child" style="font-size: 24px;"></i>
              Facebook
            </a>
          </button>
        </div>
        <div class="col-xs-6 col-md-6">
          <button class="btn btn-google" style="background-color: rgb(202, 98, 162);" 
            (click)="onLoginGoogle()">
            <a style="color: white">
              <i class="material-icons" style="font-size: 24px;"> transfer_within_a_station</i>
              Google
            </a>
          </button>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-6">
          <button class="btn btn-warning"
           (click)="onLogin()">
           Login
          </button>
        </div>
        <div class="col-xs-6">
          <button class="btn btn-info"
           (click)="onLogout()">
           Logout
          </button>
        </div>
      </div>

      <label>
        <input type="checkbox" checked="checked" name="remember">
        Remember me
      </label>
    </div>

    <div class="container">
      <button type="button" class="cancelbtn">Cancel</button>
      <span class="psw">Forgot <a routerLink='/'>password?</a></span>
    </div>
  </form>

  <div class="ancla">
    <a routerLink="/post" (click)="onLogoutGoogle()"> <i class="fas fa-democrat" style="color:rgb(255, 251, 15); font-size: 25px"></i><span>OUT Google</span></a>
  </div>
  <div class="ancla">
    <a routerLink="/test" (click)="onLogoutFace()"><span>OUT Fecebook</span></a>
  </div>

  <span class="pull-right"> <!-- todos inventos, imagen seria la del usuario -->
    <img [src]=imgParaLoad alt="{{imgParaLoadnombre}}" class="fenix">
    <img [src]=imgParaLoad alt="{{imgParaLoadnombre}}" class="img-responsive" style="max-height: 150px;">
    <img [src]=imgParaLoad alt="{{imgen}}" class="img-responsive" style="max-height: 150px;">
  </span>

  <!--...................... INVENTO .....................-->
  <hr>
  <label for="title">Change Title <i class="fa fa-tasks"></i></label>
  <div class="row">
    <div class="col-md-6 col-xs-6">
      <input type="text" class="form-control" id="title" name="title" placeholder="Change title"
        (input)="changeName($event)" />
    </div>
    <div class="col-md-6 col-xs-6">
      <input type="text" [value]="title">
    </div>
  </div>
  <hr>
  <!-- ----------------------------------------------------- -->
  <!------------------------  CARGAR DATOS DESDE HTML ----------------- -->
  <!-- ,,,para pasar data desde HTML referencia -->
  <div class="row"
    style="border: solid 1px rgb(233, 11, 185); color: crimson; border-radius: 55%; background-color: darkkhaki; opacity: 66%;">
    <h4 style="text-align: center;">Example data charge</h4>
    <div class="col-xs-4 col-sm-4">
      <input type="text" placeholder="aca ref html" #desdeHtml>
    </div>
    <div class="col-xs-4 col-sm-4">
      <input type="text" [value]="desdeHtml.value" placeholder="carga del html">
    </div>
    <div class="col-xs-4 col-sm-4">
      <input type="text" [value]="base" placeholder="carga de prop">
    </div>
    <div class="col-xs-8 col-sm-8">
      <button (click)="btnVerDato(txtUserName.value, txtpsw.value, txtEmail.value, slcSexo.value)">Ver datos </button>
    </div>
    <div class="col-xs-4 col-sm-4">
      <button (click)="reset()">Reset </button>
    </div>
  </div>
  <hr>
  <hr>
</div>

<!-- COMPONENTE REUSABLE app-incremental DESDE HELPERS -->
<div class="container" style="border: 1px solid rgb(162, 226, 43)">
  <h3>Using Angular element, reusable component, but cannot be shown</h3>
  <div class="container" style="border: 2px solid blueviolet; display: flexbox;">
    <app-incremental></app-incremental>
  </div>
  <br>
  <button style="width: 80%;" (click)="cualquierFuncion(2,5)"> 
    Nothing
  </button>
  <!-- cualquierFuncion(dato1: number, dato2: number) -->
  <!--  Deberia agregar en modulo de este componente schemas: [CUSTOM_ELEMENTS_SCHEMA, NO_ERRORS_SCHEMA]-->
  <!--  <reusable 
        title='AngularElement' 
        description='Fenix Che' 
        speaker='Andres'>
    </reusable> -->
  <br>
  <button (click)="deleteUser()">
    Add User
  </button>
</div>


<!-- aca abajo solo para card  -->
<!-- <html style="border: 2px, solid green; background-color: blue;">
  <head></head>
  <body>
    <cart-item
      thumnail=".."
      title="Title"
      price=11
      description="description">      
    </cart-item>
    <div class="card-item">
      <img src="..." alt="" class="thumbnail">
      <h1>Title</h1>
      <p>$13</p>
      <button class="btn btn-suces" >Add</button>
    </div>
  </body>
</html> -->