<p>container works!</p>

<div class="row" style="border: solid 2px rgb(191, 255, 161);">
    <div class="col-xs-12 col-sm-12">
        <h4>aca router-outlet</h4>
        <router-outlet> </router-outlet>
        <button class="btn btn-warning" style="display: block; width: 90%; background-color:rgb(163, 163, 194)"
                (click)="onNewPost()">
                New Post
        </button>
    </div>
      
    <div class="col-xs-12" style="background-color: lemonchiffon;">
            <app-active-post></app-active-post>
    </div>
    

</div>