

<div class="row" style="border: solid 2px rgb(191, 255, 161);">
    <div class="col-md-12 col-sm-12 col-xs-12" style="background-color: #9ac48a;">
        <h4>here must stay router-outlet</h4>
        <router-outlet> </router-outlet>
        <button class="btn btn-warning" style=" width: 70%; background-color:rgb(163, 163, 194)"
                (click)="onNewPost()">
                New Post
        </button>
        <button class="btn btn-warning" style=" width: 20%;" 
        (click)="activarSubject()">
        Change (submitted)
        </button>
    </div>
      
    <div class="col-md-12 col-sm-12 col-xs-12" style="background-color: #c1cf8f;">
            <app-active-post></app-active-post>
    </div>
    

</div>