.container {
    margin-top: 30px;
    color: rgb(128, 128, 128);
    background-color: #e2e4db;
  }
  
  .row {
    margin: 20px 0;
  }

  h1{
    text-align: center; 
    color: rgb(76, 161, 81);
  }

  .table-responsive {
    /* display: block; */
    overflow-x: auto;
    /* background-color: rgb(211, 228, 228); */
    align-content: center;    
    margin: auto;
    width:100%;
    padding:22px cellspacing="0";
    border: 1px solid rgb(110, 223, 176);

  }

  table, th, td {
    border:1px solid gray;
    padding: 15px;
    text-align-last: center;
    color: white;
  }

  .list-group-item {
    cursor: pointer;
    background-color: #9ac48a;;
    color: white;;
  }

  /* th, td {
    padding: 15px;
  }
  
  th{
    text-align: center;
  }
 */
.w3-btn, .w3-btn:link, .w3-btn:visited {
    color: #FFFFFF;
    background-color: #4CAF50;
}

.w3-border-red, .w3-hover-border-red:hover {
    border-color: #f44336!important;
}
.w3-text-red, .w3-hover-text-red:hover {
    color: #f44336!important;
}
.w3-white, .w3-hover-white:hover {
    color: #000!important;
    background-color: #fff!important;
}
.w3-border {
    border: 1px solid rgb(235, 102, 102)!important;
}
.w3-round-large {
    border-radius: 18px;
}
.w3-btn, .w3-button {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.w3-btn, .w3-button {
    border: none;
    display: inline-block;
    padding: 8px 16px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    color: inherit;
    background-color: inherit;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
}
button, [type=button], [type=reset], [type=submit] {
    -webkit-appearance: button;
}

.btnAdd{
  float: right ;
  transition-duration: 0.4s;  
  color: aliceblue;
  background-color: rgb(172, 169, 169);
  width: 30%;
}
.btnAdd:hover{
  background-color: rgb(105, 93, 93);
  transform: translateY(2px);
  text-transform: uppercase;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  
}

/* Abajo para navBar */
.icon-bar-2 {
width: 100%; /* Full-width */
background-color: #555; /* Dark-grey background */
overflow: auto; /* Overflow due to float */
}

.icon-bar-2 a {
float: left; /* Float links side by side */
text-align: center; /* Center-align text */
width: 100%; /* Equal width (5 icons with 20% width each = 100%) */
padding: 12px 0; /* Some top and bottom padding */
transition: all 0.3s ease; /* Add transition for hover effects */
color: greenyellow; /* White text color */
font-size: 22px; /* Increased font size */
}

.icon-bar-2 a:hover {
background-color: #000; /* Add a hover color */
color: rgb(255, 217, 47); /* White text color */
}

.icon-bar-2 a:active {
background-color: #9ac48a; /* Add an active/current color */
color: #9ac48a; /* White text color */
}

/* termina navbar */