

<div class="row" style="border: solid 2px black"style="background-color: #9ac48a;">
    <div class="col-md-12 col-sm-12 col-xs-12" style="background-color: #9ac48a;">
        <h4 style="text-align: center;">
             <q><u><i><small>
                ( here must stay router-outlet)
            </small></i></u></q>
            
        </h4>
        <router-outlet></router-outlet>
        <hr>
        <nav class="navbar navbar-inverse">
            <div class="icon-bar-2">
                <a routerLink="/home" class="active" 
                    (click)="newPost()">
                    <i class="fa fa-cannabis"></i></a>
            </div>
        </nav>
        <hr>       
        <button class="btn btn-warning" style=" width: 60%; background-color:rgb(130, 130, 204)"
                (click)="onNewPost()">
                New Post
        </button>
        <button class="btn btn-warning" style=" width: 40%;" 
                (click)="activarSubject()">
                Change (submitted)
        </button>
        <hr>
    </div>

    <div class="row" style="background-color: #9ac48a;">
        <div class="col-xs-10 col-sm-10 col-md-10">
          <h1><b>{{title | uppercase}},</b><i>a dandelion wine glass</i></h1>
        </div>
        <div class="col-xs-2 col-sm-2 col-md-2">
          <button class="btn" id="wahtsapp">
            <a href="https://api.whatsapp.com/send?phone=59895563103">
              <i class="fab fa-whatsapp" aria-hidden="true"> </i>
            </a>
          </button>
        </div>
    </div>
    <!-- View posts -->
    <div class="row" style="background-color: #9ac48a;">   
       <!--  <button class="btn btn-warning"
            style="background-color: green;"
            *ngFor="let pp of posts"
            (click)="onEdit(pp)">
            {{pp.title}}|
            <i class="fas fa-edit"></i>
        </button>  -->
        <hr>
        <div class="row" *ngIf="post">
            <span class="pull-right">                
                <img [src]="post.imageUrl"
                    alt="{{post.title}}" 
                    class="img-responsive"
                    style="max-height: 150px;">
            </span>
        </div>

        <div *ngIf="posts.length>1; else dato">
        </div>
        <ng-template #dato>
            <p style="background-color: greenyellow; text-align: center">Careful: there's few post</p>
        </ng-template>

        <div *ngIf="posts.length; else noTask" class="col-xs-12" style="background-color: #9ac48a;">
            <!-- -TABLA ----- -->
            <table 
                class="table-responsive" 
                style="width:100%; padding:22px"
                cellspacing="0">
               <!--  <thead style="text-align: center;">Tabla </thead> -->
                <tbody style="align-self: center;">
                    <tr>
                        <th colspan="3">Post</th>
                        <th>Delete</th>
                        <th>Add</th>
                        <th>Edit</th>
                    </tr>
                    <tr *ngFor="let ps of posts">
                        <td colspan="3">
                            {{ps.toString()}} - Fecha: {{ps.data|date}}
                        </td>                   
                        <td>                       
                            <button 
                                (click)="onDelete(ps)" 
                                class="w3-btn w3-white w3-border w3-border-red w3-text-red w3-round-large" 
                                style="vertical-align: inherit">
                                    <i class="far fa-trash-alt"></i> 
                            </button>
                        </td>
                        <td> 
                            <button 
                                (click)="onAdd(ps)" 
                                class="w3-btn w3-white w3-border w3-border-red w3-text-red w3-round-large">
                                    <font style="vertical-align: inherit;">
                                        <i class="fas fa-plus"></i>
                                    </font>
                            </button>
                        </td>
                        <td> 
                            <button 
                                (click)="onEdit(ps)" 
                                class="w3-btn w3-white w3-border w3-border-red w3-text-red w3-round-large">
                                    <font style="vertical-align: inherit;">
                                        <i class="fas fa-edit"></i>
                                    </font>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
<!-- para ver la image despues de pegar URL --> 
  
<!-- <span class="pull-right">
    <img [src]="post.imageUrl"
        alt="{{post.title}}" 
        class="img-responsive"
        style="max-height: 50px;" >
  </span> -->
        <ng-template #noTask>
            <h4>THERE IS  NOT POSTS YET</h4>
        </ng-template>
    </div>
    <div>
        <button class="btn btn-warning" style=" width: 60%; background-color:rgb(130, 130, 204)"
             (click)="pruebaGuardarajugador()">Add Player
        </button>
    </div>
</div>     

 <div class="col-md-12 col-sm-12 col-xs-12" style="background-color: #c1cf8f;">
    <app-active-post></app-active-post>
</div>

<!--<div class="col-md-12 col-sm-12 col-xs-12" style="background-color: #c1cf8f;">
    <app-new></app-new>
</div> -->
    

