<div class="container-fluid">   

    <pre>
        <h4 style=" text-align: center;">{{errorMessage}} - esto es app-borrar </h4>
    </pre>
    <div class="header" style="text-align: center;">
        <h3><i>Columnas - css (recomendada):</i></h3>
    </div>
    <div class="content">        
        <div class="row">
            <div class="col-xs-6">
                <div class="row" style="background-color: fuchsia;">
                    <div class="col-xs-3"> col 1</div>
                    <div class="col-xs-3">col 2</div>
                    <div class="col-xs-3">col 3</div>
                    <div class="col-xs-3">col 4</div>
                </div>
            </div>
            <div class="col">
                <div class="btn-group btn-group-block" role="group">
                    <button type="button" class="btn btn-secondary">Btn Prueba</button>
                    <button type="button" class="btn btn-danger">Btn Carga</button>
                    <button type="button" class="btn btn-success">Btn Eliminar</button>
                </div>
            </div>
        </div><br>
        <div class="row">
            <div class="col-xs-2" style="background-color: blueviolet;">col-xs-2</div>
            <div class="col-xs-6" style="background-color: orange;">col-xs-6</div>
            <div class="col-xs-4" style="background-color: greenyellow;">col-xs-4</div>
        </div>
        <br>
        <h3>you tube</h3>
        <iframe width="420" height="315"
               src="https://www.youtube.com/embed/tgbNymZ7vqY?autoplay=1controls=0">
        </iframe>
        <h3>Video</h3>
        <video width="320" height="240" controls>
            <source src="assets\Imagenes\papa.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>
        <h3>Gallery</h3>
        <div class="gallery">
            <a target="_blank" href="assets/Imagenes/centro-atletico-fenix.jpg"> <!-- href="assets/Imagenes/centro-atletico-fenix.jpg" > -->
                <img src="assets\Imagenes\osos.png" alt="Mountains"width="300" height="200">
            </a>
            <div class="desc">Osos</div>
            <a target="_blank" href="assets/Imagenes/centro-atletico-fenix.jpg"> <!-- href="assets/Imagenes/centro-atletico-fenix.jpg" > -->
                <img src="assets\Imagenes\carnivora.jpg" alt="Mountains" width="300" height="200">
            </a>
            <div class="desc">carnivora</div>
            <a target="_blank" href="assets/Imagenes/centro-atletico-fenix.jpg"> <!-- href="assets/Imagenes/centro-atletico-fenix.jpg" > -->
                <img src="assets\Imagenes\planta.png" alt="Mountains" width="300" height="200">
            </a>
            <div class="desc">planta</div>
            <a target="blank" href="assets\Imagenes\cabo.jpg"> <!-- href="assets/Imagenes/centro-atletico-fenix.jpg" > -->
                <img src="assets\Imagenes\cabo.jpg" alt="Mountains" width="300" height="200">
            </a>
            <div class="desc">Cabo Polonio 2019</div>
        </div>
        <blockquote>
            <ol>
                <li>
                    <button class="btn btn success" style="width: 50%;  border: 2px solid green;">
                        <a href="http://lorenpixel.com">Imagenes en lorenpixel</a>
                    </button>
                </li>
                <li>
                    <button class="btn btn success"style="width: 50%; border: 2px solid orange;">
                        <a href="http://placehold.it">Imagenes en placehold</a>
                    </button>
                </li>
            </ol>
        </blockquote>
        <br>
        <div class="table" 
            style="color: rgb(51, 161, 60); border: 2px solid rgb(51, 161, 60);width: auto;">
            <h4 style="text-align: center;">Add content to see binding 
                <i class="fa fa-spinner fa-spin fa-2x fa-fw"></i>
                too, whould  like changes from inputs bottom.
            </h4>
            <label for="name"> Name 
                <i class="fa fa-user"></i>
            </label>
            <input type="text" 
                name="name" 
                class="form-control" 
                (input)="changeName($event)"
                placeholder="Ingrese nombre"
                >
            <label for="name"> Price 
                <i class="fab fa-android"></i>
            </label>
            <input type="number" name="price"
                 class="form-control" 
                 (input)="changePrice($event)"
                 placeholder="Ingrese precio"
                 >
            <h4 style="text-align: center;">Table of bindings whith values</h4>
            <table class="table-responsive">
                <thead>Tabla </thead>
                <tbody>
                    <tr>
                        <th>cadena</th>
                        <td>{{name}}</td>
                        <td>{{price}}</td>
                    </tr>
                    <tr>
                        <th>[value]</th>
                        <td><input type="text" [value]="name"></td>
                        <td><input type="number" [value]="price"></td>
                    </tr>
                    <tr>
                        <th>[inner]</th>
                        <td [innerText]="name"></td>
                        <td [innerText]="price"></td>
                    </tr>
                    <tr>
                        <th style="color: rgb(189, 0, 164);">[(ngModel)]</th>
                        <td><input type="text" [(ngModel)]="name" style="color: rgb(189, 0, 164);"></td>
                        <td><input type="number" [(ngModel)]="price" style="color: rgb(189, 0, 164);"></td>
                    </tr>
                    <tr>
                        <th>(input)="f($ev)"</th>
                        <td><input type="text" [value]="name" (input)="updateLastName($event)"></td>
                        <td><input type="number" [value]="price" (input)="updatePrice($event)"></td>
                    </tr>

                </tbody>
            </table>
        </div>
        </div>
        <br>
        <hr>
        <br>
        <div class="container-fluid" id="form">
        <h3 style="text-align: center; ">Formulario de payment</h3>
        <form action="" novalidate>
            <div class="row">
                <div class="col-xs-6">
                    Name:
                    <input type="text" id="usuario" required>
                </div>
                <div class="col-xs-6">
                    Password:
                    <input type="password" id="password" required>
                </div>
                <div class="col-xs-6">
                    E-mail:
                    <input type="email" id="email" name="email" size="30" placeholder="aaa@gmail.com" required title="Email complete">
                </div>
                <div class="col-xs-6">
                    Telephone:
                    <input type="text" id="telephone">
                </div>
                <div class="col-xs-6">
                    Ingrese un valor entre 1 y 10:
                    <input type="number" id="valor" name="valor" min="1" max="10">
                </div>
                <br>
                <div>
                    <label for="description">Description:</label>
                    <textarea cols=" 40 " rows=" 5 " 
                            class="form-control" 
                            placeholder="description" 
                            id="description"
                            name="description">
                    </textarea>
                </div>
            </div>
            <br>
            <input type="submit" 
                    class="btn btn-block btn-primary" 
                    id="ingresar" 
                    value="Ingresar"
                    >
            <br>
        </form>
    </div>
</div>
<br><hr style =  "border:2px dotted yellow"><br>
<!-- ACA EMPIEZA CSS-GRID -->
<div class="container">
    <div class="header">
      <!-- <em> <s> <b> <q> <u> <i> -->
      <div class="row">
        <div class="col-xs-10 col-sm-10 col-md-10">
          <h1><b>CSS-GRID</b></h1>
        </div>
        <div class="col-xs-2 col-sm-2 col-md-2">
          <button class="btn" id="wahtsapp">
            <a href="https://api.whatsapp.com/send?phone=59895563103">
              <i class="fab fa-whatsapp" aria-hidden="true"> </i>
            </a>
          </button>
        </div>
      </div>
    </div>
  
    <!-- CSS grid-container -->
    <div class="grid-container">
      <div style="background-color: gold;">One </div>
      <div style="background-color: rgb(68, 0, 255);">Two</div>
      <div style="background-color: rgb(224, 66, 164);">Three</div>
      <div style="background-color: rgb(79, 224, 66);">Four</div>
      <div style="background-color: rgb(180, 119, 50);">Five</div>
    </div>
    <hr>
    <!-- layout -->
    <div class="layout">
      <div class="header">HEADER</div>
      <div class="main">MAIN</div>
      <div class="footer">FOOTER</div>
    </div>
    <hr>
    <!-- Areas -->
    <h4><b>LAYOUT</b> - Grid container con display: grid, Areas</h4>
    <div class="area-contenedora">    
      <div class="customHeader">HEADER</div>
      <div class="customMain"> MAIN Lorem ipsum, dolor sit. Vero, earum necessitatibus.</div>
      <div class="customSidebar">  SIDEBAR </div>
      <div class="customFooter"> FOOTER </div>
    </div>
</div>