.table-responsive {
    display: block;
    overflow-x: auto;
    background-color: rgb(211, 228, 228);
  }
  .flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;   
  }
/* .flex-container {
  display: flex;
  height: 200px;
  align-items: stretch;
} */

/*  Centrado*/
/* .flex-container {
  display: flex;
  height: 300px;
  justify-content: center;
  align-items: center;
} */

.fa {
font-size: 10px;
color: chocolate;
}

.flex-center {
                width: 100%;
                align-items: center;/*These two properties center vetically*/
                height: 100vh;/*These two properties center vetically*/
                display: flex;/*This is the attribute that separates into columns*/
                justify-content: center;
                text-align: center;
                position: relative;
            }
 
  /* *{
    border-radius: 0px !important;
  } */
  .btn-group .btn {
    width: 30%;
  }
  .btn-group {
    width: 100%;
  }

  hr{    
    border: solid 2px;
    border-color:rgb(178, 224, 11);
    margin-top: 1px;  
} 
#form{
  background-color: rgb(247, 244, 241);
  color: blue;
}

/* ACA EMPIEZA CSS-GRID */

/* si es invalido o si no toco */
input.ng-invalid.ng-touched{
  border: 1px solid red;
}

#user-data.ng-invalid.ng-touched{
  background-color: rgb(237, 248, 227) ;
  border: 2px solid rgb(18, 199, 27);
}

input.ng-invalid.ng-touched {
  background-color: rgb(239, 231, 247);
  border: 1px solid rgb(221, 25, 247);
}

#wahtsapp  a  {
  font-size: 36px;
  width: 100%;
 /*  display: none; */
  padding: 2px 4px;
  border: 1px solid magenta;
  color:white;
  background-color: rgb(239, 231, 247);
}
#wahtsapp {
  background-color: transparent;
  padding-right: 20%;
  float: right;
}

h1{
  text-align: center; 
  color: rgb(76, 161, 81);
}
.container{
  color: 68a715;
  background-color: #e2e4db;
}
.grid-container{
  display: grid;
  grid-template-columns: 150px auto 50px;
  grid-template-rows: 200px;
}
/* grid-template-columns: 40% 20% 40%; grid-template-columns: 150px auto 50px;*/

.grid-container div{
  border: 2px solid green;
  border-radius: 5px;
  background-color: greenyellow;
  padding: 1em;
  color: white;
}

/* layout con header 80px, main content con auto y footer de 60px. 
calc(100vh - 140px) es aoo view eight que s lo que veo menos la suma de px*/
.layout{    
  display: grid;
  grid-template-rows: 80px calc(100% - 140px) 60px;
  border: 2px solid red;
  padding: 10px;
}
.main, .footer, .header{
  border: 2px solid rgb(135, 206, 135);
  border-radius: 5px;
  background-color: rgb(228, 238, 214);
  padding: 1em;
  color: rgb(73, 21, 21);
  text-align: center;
}
.main{
  background-color: rgb(235, 225, 197);
}
.footer{
  background-color: rgb(179, 204, 185);
}

/* AREA */
/* fr=Fraccion, divide el entero en 4 fracciones */
.area-contenedora{
  height: 150px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 40% auto 30%;
  grid-template-areas:
  "myHeader myHeader myHeader myHeader"
  "myMain myMain myMain mySidebar"
  "myFooter myFooter myFooter myFooter";
  border: 2px solid  blue;
 /*  justify-items: stretch;
  align-items: center; */
  /* justify-content: center; */
 /*  justify-content: right; */
  padding: 2px;
  align-items: stretch;
  justify-items: auto;
  justify-content: space-between;
  align-content: stretch;
}

.customHeader{
  background-color: rgb(213, 222, 135);
  grid-area: myHeader;
}
.customMain{
  background-color: rgb(233, 173, 223);
  grid-area: myMain;
}
.customSidebar{
  background-color: rgb(135, 222, 181);
  grid-area: mySidebar;
/*  grid-column-end: auto;
   grid-row-start: end; */
 /*  align-self: start;
  justify-self: end; */
}
.customFooter{
  background-color: rgb(245, 166, 170);
  grid-area: myFooter;

}