<div class="flex-container" style="border: rgb(247, 58, 247) solid 2px;padding-top: 5px;">

    <h3 style="text-align: center;">USER</h3>

    <div>  <!-- emitter -->
        <div *ngIf="emi; then logout else enter"></div>
        <ng-template #enter>
            <p style="text-align: center; color:rgb(197, 211, 9)">
        <strong>EMITTER random  <span style="color: royalblue;">{{emi}}</span></strong> (from list usuers)
    </p>          
        </ng-template>
        <ng-template #logout>
            <p style="text-align: center; color:rgb(197, 211, 9)">
                <strong>EMITTER random =  <span style="color: goldenrod;">{{emi}}</span></strong> (from list usuers)
            </p>      
        </ng-template>
    </div>

    <div>  <!-- subject -->
        <div *ngIf="subject; then logout2 else enter2"></div>
        <ng-template #enter2>
            <p style="text-align: center; color:rgb(197, 211, 9)">
                <strong>SUBJECT random  
                    <span style="color: crimson;">
                    {{subject}}</span>
                </strong> (from list usuers)
            </p>          
        </ng-template>
        <ng-template #logout2>
            <p style="text-align: center; color:rgb(197, 211, 9)">
                <strong>SUBJECT random =  
                    <span style="color: violet;">
                    {{subject}}</span>
                </strong> (from list usuers)
            </p>      
        </ng-template>
    </div>

    <!-- <p *ngIf="subject,then logout else enter"
        style="text-align: center; color: crimson;">
        <strong>SUBJECT activated is : {{subject}}</strong>
    </p> -->

    <div class="button-list col-xs-12">
        <button class="myButton btn btn-info" style="width: 40%;" (click)="viewActive()" >View Active  / style = width: 40% </button>
        <button class="myButton btn btn-warning" style="width: 40%;" (click)="viewInactive()" >View Inactive / style = width: 60% </button>
        <button class="myButton btn btn-primary" style="width: 10%;" (click)="invent1()" >Shopping  </button>
        <button class="myButton btn btn-danger" style="width: 10%;" (click)="invent2()" >Test  </button>
    </div>
    <div class="button-list col-xs-12">
        <button class="btn btn-success" style="display: block; width: 100%;"(click)="toList()" >To List </button>
        <button class="btn btn-default" style="display: block; width: 100%;"(click)="toUsuTest()" >To User test </button>
        <button class="btn btn-success" style="display: block; width: 100%;"(click)="toUsuForm()" >To User form </button>
        <button class="btn btn-default" style="display: block; width: 100%;"(click)="toOneUsu()" >To One User </button>
    </div>
        <br>

    <div class="container" style="border: #d34300 2px double;">       
        <div class="col-xs-12 col-sm-12">

            <router-outlet></router-outlet>
            
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12">
                <h4>Esto se cargara en ngContent de user lsit al iniciar dicho componente </h4>           
            </div>  
        </div>
    </div>
</div>