<!-- <div class="container col-xs-12 col-sm-10 col-md-10 col-sm-offset-1 col-md-offset-2"> -->
<div class="container col-xs-12 col-sm-12 col-md-12">
  <div class="header">
    <!-- <em> <s> <b> <q> <u> <i> -->
    <div class="row" style="text-align: center;">
      <div class="col-xs-2 col-sm-2 col-md-2"style="float: left">
        <button class="btn" id="wahtsapp" id="btnWhatsapp" 
            (click)="toPost()">
           <a routerLink="/post">
            <!-- <a [routerLink]="/home">HOME</a> 
            routerLink="/shopping/list"-->
            <i class="fa fa-reply" > </i></a>
        </button>
      </div>
      <div  class="col-xs-8 col-sm-8 col-md-8 alert is-helpful">
        <h2><b>{{title}} - </b><q><u><i><small> Formulario</small></i></u></q></h2>        
      </div>

      <div class="col-xs-2 col-sm-2 col-md-2">
        <button class="btn" id="wahtsapp" id="btnWhatsapp">
          <a href="https://api.whatsapp.com/send?phone=59895563103">
            <i class="fab fa-whatsapp" aria-hidden="true"> </i>
          </a>
        </button>
      </div>      
    </div>
  </div>
  
  <hr>
  <div style="border: solid 2px green;">
    <p>imprime post2 si hay:  {{postInput | json}}</p>
  </div>

  <hr>
    <div class="col-xs-12 col-md-12 ">
      <form [formGroup]='postForm' (ngSubmit)="onSubmit()">
        <!-- <form #postForm="ngForm" (ngSubmit)="onCreatePost(postForm.value)"> -->
        <div class="form-group">
          <label for="id">ID <i class="fa fa-location-arrow"></i></label>
          <input type="number" class="form-control" formControlName='id' id="id" required placeholder="ID"
             />
          <!-- <input type="number" class="form-control" formControlName='id' id="id" required placeholder="ID entre 1-20"
            name="id" min="1" max="20" /> -->

          <span class="help-block" style="color: hotpink;"
            *ngIf="!postForm.get('id').valid && postForm.get('id').touched">
            <span *ngIf="postForm.get('id').errors['required']">
              ID is required
            </span>
          </span>
        </div>

        <div class="form-group">
          <label for="title">Title <i class="fa fa-tasks"></i></label>
          <input type="text" 
            class="form-control" 
            formControlName='title' id="title" required 
            name="title"
            placeholder="Title required" />

          <span class="help-block" style="color: hotpink;"
            *ngIf="!postForm.get('title').valid && postForm.get('title').touched">
            <span *ngIf="postForm.get('title').errors['required']">
              Title is required
            </span>
            <span *ngIf="postForm.get('title').errors['noName']">
              Not allow this title
            </span>
            <span *ngIf="postForm.get('title').errors['maxLength']">
              Please enter content whith maxLength of 14
            </span>
          </span>
        </div>
        
        <div class="form-group">
          <label for="content">Content <i class="fa fa-leaf"></i></label>
          <textarea class="form-control" formControlName='content' id="content" required name="content"
            placeholder="Content required">
            </textarea>
          <span class="help-block" style="color: rgb(250, 123, 186);"
            *ngIf="!postForm.get('content').valid && postForm.get('content').touched">
            <span *ngIf="postForm.get('content').errors['required']">
              Must have a content
            </span>
            <span *ngIf="postForm.get('content').errors['minLength']">
              Please enter content whith minlength of 8
            </span>
          </span>
        </div>
        <!--    <div class="form-group">
            <label for="imagePath">Image URL</label>
            <input 
                class="form-control"
                formControlName= 'imagePath' 
                name="imagePath"                    
                type="text" 
                id="imagePath"
                placeholder="Image URL" title="Image URL"
              >          
              <span class="help-block"
                *ngIf="!postForm.get('imagePath').valid && postForm.get('imagePath').touched">                  
                Required URL
              </span>          
          </div>  -->
        <div class="form-group">
          <label for="imagePost">Image</label>
          <input class="form-control" 
            formControlName='imagePost' 
            name="imagePost" 
            accept=".jpg, .png"
            type="file" id="imagePost"
            placeholder="Image URL" title="Image URL" 
            (change)="handleImage($event)">
          <span class="help-block"
            *ngIf="!postForm.get('imagePost').valid && postForm.get('imagePost').touched">
            Required URL
          </span>
        </div>

        <br>

        <button class="btn btn-success" id="btnSubmit" 
          type="submit" style="width: 100%;"
          [disabled]="!postForm.valid">
          <i class="fa fa-location-arrow"> </i>
        </button>

      </form>

      <div class="row" *ngIf="postInput">
        <span class="pull-right">
            <img [src]="postInput.imageUrl" 
            alt="{{postInput.title}}" 
            class="img-responsive" 
            style="max-height: 90px;">
        </span>
      </div>
      <div class="row" *ngIf="imageNew">
        <span class="pull-right">
            <img [src]="postInput.imageUrl" 
            alt="{{postInput.title}}" 
            class="img-responsive" 
            style="max-height: 90px;">
        </span>
      </div>
      
      <span class="help-block" 
          *ngIf="!postForm.valid && postForm.touched">
          You don't have this form filled out
      </span>
      
    </div>
    <br>

    <!-- para ver la image despues de pegar URL -->

    <!--  <span class="pull-right">
          <img [src]="viewPostSus.imageUrl"
              alt="{{viewPostSus.title}}" 
              class="img-responsive"
              style="max-height: 50px;" >
        </span> -->
    <!-- <div class="row">
          <div class="col-xs-12" >
              <img [src]="imagePath.value" 
                  alt="Post" 
                  class="img-responsive" 
                  style="max-height: 150px;">
          </div>
        </div> -->

    <!-------------Buttons for delete and fetch-------- -->
    <hr>
      <div class="col-xs-12 col-md-12">
        <button class="btn btn-primary" 
          (click)="onFetchPosts()" 
          style="width: 50%;" id="btnFetch">
          <i class="fas fa-shoe-prints" style="color: greenyellow;"></i>
          Fetch
        </button>
        <button class="btn btn-danger" 
          [disabled]="loadedPosts.length" 
          (click)="onClearPosts()" 
          style="width: 50%;"
          id="btnDelete">
          <i class="fas fa-fire-extinguisher" style="color: rgb(245, 227, 62);"></i>
          Delete
        </button>
      </div>

    <hr>
    <!-- ******* Solo pruebo botton con SUBJECT *************** -->
    <div class="row">
      <div class="col-xs-12" 
        *ngIf="submitted; then logout else enter">
      </div>
      <ng-template #enter>
        <p style="color: rgb(206, 21, 197);">
          <strong> >>>Change this "submited" random to {{submitted}}</strong>
        </p>
      </ng-template>
      <ng-template #logout>
        <p style="color: rgb(24, 150, 13);">
          <strong> >>>Once in a life time i change this "submited" random to {{submitted}}</strong>
        </p>
      </ng-template>
    </div>
    <hr>

    <!-- -------------SOlo para cambiar elvalue edit ----------->
    <!-- <button class="btn btn-success" style="display: block; width: 50%;" (click)="cambiaEdit()">
      cambiaEdit
    </button>
    <button class="btn btn-warning" style="display: block; width: 50%;" (click)="editMode = !editMode">
      cambiaEdit
    </button> -->

    <!-------- TABLE if loadedPosts > 0-------------->
    <!-- <div class="row">
      <div class="col-xs-12">
        <div class="col-xs-12" *ngIf="loadedPosts; else feni ">
          <h3 style="text-align: center; color: rgb(8, 150, 91);">
            Table whith list posts
          </h3>
          <table class="table table-responsive">
            <thead><h4 >My table</h4></thead>
            <tbody>
              <tr>
                <th>Title</th>
                <th>Content</th>
                <th>Date</th>
              </tr>
              <tr *ngFor="let pos of loadedPosts">
                <td>{{pos.title | uppercase}}</td>
                <td>{{pos.content}}</td>
                <td>{{pos.data | date}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="col-xs-12 col-md-6 col-md-offset-3">
        <ng-template #feni>
          <p>No posts available loaded from array !</p>
        </ng-template>
      </div>
    </div> -->
</div>