<div class="container">
  <div class="header">
    <!-- <em> <s> <b> <q> <u> <i> -->
    <div class="row">
      <div class="col-xs-10 col-sm-10 col-md-10">
        <h1><b>POSTS </b></h1>
        <h4 style="text-align: center;"> <q><u><i><small>( form template)</small></i></u></q></h4>
      </div>
      <div class="col-xs-2 col-sm-2 col-md-2">
        <button class="btn" id="wahtsapp">
          <a href="https://api.whatsapp.com/send?phone=59895563103">
            <i class="fab fa-whatsapp" aria-hidden="true"> </i>
          </a>
        </button>
      </div>
    </div>
  </div>

  <div class="col-xs-12 col-sm-10 col-md-10 col-sm-offset-1 col-md-offset-2">

    <div class="row">
      <div class="col-xs-12 col-md-6 col-md-offset-3">
       <form [formGroup]='postForm' (ngSubmit)="onReactivo()">
          <!-- <form #postForm="ngForm" (ngSubmit)="onCreatePost(postForm.value)"> -->
          <div class="form-group">
            <label for="title">Title</label>
            <input type="text" 
              class="form-control" 
              formControlName='title'
              id="title" 
              required 
              ngModel 
              name="title"
              placeholder="Title required" />
          </div>
            <span class="help-block" style="color: hotpink;"
                  *ngIf="!postForm.get('title').valid && postForm.get('title').touched">
                  <span 
                    *ngIf="postForm.get('title').errors['required']">
                    Title is required
                  </span>                  
                 <!--  <span 
                    *ngIf="postForm.get('title').errors['tituloInvalido']">
                    No acept this title
                  </span>  -->                 
                  <span 
                    *ngIf="postForm.get('title').errors['noName']">
                    Not allow this title
                  </span>                  
            </span>
          <div class="form-group">
            <label for="content">Content</label>
            <textarea 
              class="form-control" 
              formControlName='content'
              id="content" 
              required 
              ngModel 
              name="content"
              placeholder="Content required"></textarea>
          </div>
            <span class="help-block" style="color: hotpink;"
                    *ngIf="!postForm.get('content').valid && postForm.get('content').touched">
                    <span 
                      *ngIf="postForm.get('content').errors['required']">
                      Must have a content
                    </span>                  
              </span>
          <button class="btn btn-primary" 
            type="submit" 
            [disabled]="!postForm.valid">
            Send Post
          </button>
        </form>
      </div>
    </div>

    <hr>
     <div class="row">
    <div class="col-xs-12" *ngIf="!postForm.valid && postForm.touched">         
      <p style="color: rgb(4, 7, 189); text-align: center;">PLEASE ENTER VALID DATA !</p>
    </div>
  </div>
    <hr />
    <div class="row">
      <div class="col-xs-12 col-md-6 col-md-offset-3">
        <button class="btn btn-primary" (click)="onFetchPosts()">
          Fetch Posts
        </button>
        **
        <button class="btn btn-danger" [disabled]="loadedPosts.length" (click)="onClearPosts()">
          Clear Posts
        </button>
      </div>
    </div>
<!-- ********************** -->
<div class="row">
  <div class="col-xs-12" *ngIf="submitted; then logout else enter"></div>
    <ng-template #enter>
      <p style="color: rgb(206, 21, 197);">
        <strong> >>>Change this "submited" random to {{submitted}}</strong>
      </p>
    </ng-template>
    <ng-template #logout>
      <p style="color: rgb(24, 150, 13);">
        <strong> >>>Once in a life time i change this "submited" random to {{submitted}}</strong>
      </p>
    </ng-template>
  
</div>

<!-- ******************* -->
    <hr>
    <!-- TABLE -->
    <div class="row">
      <div class="col-xs-12">
        <!-- TABLE -->
        <div class="row">
          <div class="col-xs-12" *ngIf="loadedPosts.length===0"> <!--  then feni -->
            <p style="text-align: center; color: rgb(110, 223, 176);">My table whith pipe example</p>
            <table class="table-responsive" style="align-content: center; margin: auto; ">
              <thead style="border: 1px solid rgb(110, 223, 176); color: darkorange;">
                <tr>
                  <th>Title</th>
                  <th>Content</th>
                </tr>
              </thead>

              <tbody style="text-align-last: center; color: white; ">
                <tr *ngFor="let pos of loadedPosts">
                  <td>{{pos.title | uppercase}}</td>
                  <td>{{pos.content}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-md-6 col-md-offset-3" #feni>
        <p>No posts available!</p>
      </div>
    </div>
  </div>
</div>