<div class="container">

    <div class="row">
        <div class="col-xs-6">
            <button class="btn btn-block btn-success" (click)="onStartGame()">Start Game</button>
        </div>
        <div class="col-xs-6">
            <button class="btn btn-block btn-danger" (click)="onSPauseGame()">Pause Game</button>
        </div>
        <div>
            <button type="btn btn-succes" style="width: 80%;"  (click)="resetIngterval()">reset</button>
        </div>
    </div>

    <!--usamos  <ng-content></ng-content> que se carga al iniciar el componente-->
    <div class="panel-body">
        <!-- <ng-content></ng-content> -->
    </div>

</div>