
<p>incremental here</p>

<div class="flex justify-between items-center">
    <div class="row">
        <div class="col-xs-5 col-md-5">
            <button type="button"
                class="btn btn-primary" style="width: 100%;"
                (click)="sub()"> 
                <i class="fa fa-minus" style="font-size:48px;color:red"></i>
            </button>
        </div>
        <div class="col-xs-2 col-md-2" style="align-content: center;">
            <input 
            type="number" 
            [value]="currentValue"
            style="background-color: fffff; color: red; border:none; font-size: 22px;" > 
            <!-- <h3>{{currentValue}}</h3> -->
        </div>
        <div class="col-xs-5 col-md-5">
            <button type="button"
                class="btn btn-success" style="width: 100%;"
                (click)="add()">
                <i class="fa fa-plus" style="font-size:48px;color:red"></i>
            </button>
        </div>
    </div>  
</div>
