<h3>Inactive Users</h3>
<ul class="list-group">
  <li class="list-group-item" *ngFor="let user of users; let i = index">

    <div *ngIf="users.length>1; else infoText"> </div>
    <ng-template #infoText>
      <p style="background-color: greenyellow; text-align: center">Careful: there's one left</p>
    </ng-template>

    (ID: {{ user.id }}) -{{ user.name }} {{ user.lastname }}- (Fecha {{user.timeStamp|date}} ) | <a
      (click)="onSetStatus(i)">Set to Active</a>
  </li>

  <div *ngIf="users.length===0">
    <p style="background-color: rgb(255, 200, 47); text-align: center">Sorry: there's not users inactive</p>
  </div>
</ul>