<div class="flex-container" style="border: rgb(204, 86, 7) solid 2px;padding-top: 5px;">

    <h3 style="text-align: center; color:cornflowerblue"><i>{{title}}</i></h3>

    <hr style="border: blueviolet 2px solid;">
    
    <div class="flex-container" style="border: 2px solid brown">
        <!-- <router-outlet></router-outlet>-->            
        <router-outlet> <h4>ACA DEBE MOSTRAR router-outlet</h4> </router-outlet>
    </div>

    <hr style="border: blueviolet 2px dotted;">

    <div class="row">
       
        <div class="col-xs-12 col-sm-6" >
            <app-shopping-list 
                *ngIf="ingredients; else infoText" 
                (delete)="onDelete($event)" 
                [txtError]="textoError">
            </app-shopping-list>
            <br>
            <ng-template #infoText>
                <p>Please add a ingredient </p>
            </ng-template>
        </div>

        <div class="col-xs-12 col-sm-6"  style="color: white;">   <!-- ingredientsChange2 -->
            <app-shopping-edit>
            </app-shopping-edit>
        </div>

    </div>
    
    
</div>