<!-- <div class="flex-container" style="background-color: blueviolet;">
    <div class="row-sm-10">    
         <router-outlet></router-outlet>     
    </div>   
</div>  -->


<!-- <div class="flex-container" >
   <h2>FENIX</h2>
    <div class="col-xs-12" > -->
        <div class="row" style="text-align:center; margin: auto;" 
            *ngIf="misIngredientes else parrafoOculto" 
            >
            <!-- <h2 appDirectiveBasic><i>Ingredient list</i></h2>  -->           
            <h2 style="color: darksalmon;"><i>Ingredient list</i></h2>            
            <ul class="list-group">
                <a class="list-group-item" style="cursor: pointer;"
                 *ngFor=" let ingred of misIngredientes; let i = index"                 
                 (click)="onEditItem(i)">  
                    {{ingred.name | uppercase}} - quantity: {{ingred.amount}} <i>(ID: {{i+1}})</i>
                </a>
            </ul>
        </div>

        <label for=""> {{txtError2}} +</label>
        <label for=""> {{txtError}} +</label>
        
<!--     </div> 
</div> -->

<div>
       <!--  <p *ngIf="misIngredientes else parrafoOculto"  style="border: lime solid 1px;">
            INGREDIENTE AGREGADO: <i>{{ingredient.name}}, quantity= {{ingredient.amount}} </i>
        </p> -->
                
        <ng-template #parrafoOculto style="border: lime solid 1px;">
            <p style="border: lime solid 1px; color: lime">DEBE INGRESAR DATOS</p>
        </ng-template> 
              
</div>

