<div class="col-xs-12" style="background-color: rgb(207, 217, 228);">


    <!-- **************************  template form********************************** -->

    <h2><i>Add ingredient</i></h2>
    <h4 style="color: darksalmon;"><q>Form TEMPLATE</q></h4> <!-- <em> <s> <b> <q> <u> <i> -->
    <form #formEdit="ngForm" 
             (ngSubmit)="onAddItem(formEdit)">
        <div class="row">
            <div class="col-sm-5 form-group">
                <!-- <label for="name">Name</label> -->
                <input type="text"  id="name" placeholder="Name"class="form-control"
                ngModel
                
                name="name"
                required
                >
            </div>
            <!-- <span class="help-block" *ngIf="!name.valid && name.touched">Invalid name
            </span> -->
            <div class="col-sm-5 form-group">
                <!-- <label for="name">Name</label> -->
                <input class="form-control"
                ngModel                
                name="amount"
                required
                pattern="^[1-9]+[0-9]*$"
                type="number"  id="amount" placeholder="amount">
            </div>
            <!--  required
                pattern="^[1-9]+[0-9]*$" -->
            <!-- <span class="help-block" *ngIf="!amount.valid && amount.touched">Invalid amount
            </span> -->
            
            <div class="row">
                <div class="col-xs-12" style="text-align:center; margin: auto;">
                    <button type="submit"
                        [disabled]="!formEdit.valid"
                        style="width: 30%;" 
                        class="btn btn-success">Add</button>
                    <button style="width: 30%;" class="btn btn-danger" type="button"
                        (click)="deleteIngred(nameInput, amountInput)">Delete</button>
                    <button style="width: 30%;" class="btn btn-primary" type="button">Clear</button>
    
                </div>
            </div>            
        </div>
    </form>

    <div [ngStyle]="{backgroundColor: getColor()}">
        <p *ngIf="textError!=''">{{textError}} - <span class="glyphicon glyphicon-heart"></span> </p>
    </div>
    
</div>

<!-- **************************  otro form********************************** -->

<!-- <div class="col-xs-12" style="background-color: violet;">


    <h4>EDIT RECIPE <i>Add ingredient</i></h4>
    <form action="">
        <div class="row">
            <div class="col-sm-5 form-group">
                <input type="text" #nameInput id="name" placeholder="Name" class="form-control">
            </div>
            <div class="col-sm-5 form-group">
                <input type="number" #amountInput id="amount" placeholder="amount" class="form-control">
            </div>
            <div class="col-sm-4 " *ngIf="other">
                <button style="width: 100%; background-color: rgb(31, 16, 31);" class="btn btn-success"
                    (click)="addOther()">Other</button>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12" style="text-align:center; margin: auto;">
                <button style="width: 30%;" class="btn btn-success" type="submit"
                    (click)="addIngred()">Add</button>
                <button style="width: 30%;" class="btn btn-danger" type="button"
                    (click)="deleteIngred(nameInput, amountInput)">Delete</button>
                <button style="width: 30%;" class="btn btn-primary" type="button">Clear</button>

            </div>
        </div>

    </form>

    <div [ngStyle]="{backgroundColor: getColor()}">
        <p *ngIf="textError!=''">{{textError}} - <span class="glyphicon glyphicon-heart"></span> </p>
    </div>

</div> -->