<div class="col-xs-12 col-sm-10 col-md-10 col-sm-offset-1 col-md-offset-2"
     style="background-color: rgb(207, 217, 228);">

    <!-- **************************  template form********************************** -->

    <h2 style="color: darksalmon;"><i>Add ingredient</i></h2>
    <h4 ><q>Form TEMPLATE</q></h4> <!-- <em> <s> <b> <q> <u> <i> -->
        <span *ngIf="!formEdit.valid && formEdit.touched" style="color: crimson; background-color: rgb(248, 248, 215);;">
            INVALID DATA 
        </span>
          <hr *ngIf="!formEdit.valid && formEdit.touched" style="border: 1px solid red;">
        <br>
        
    <form #formEdit="ngForm" 
             (ngSubmit)="onAddOrUpdateItemSubmit(formEdit)">
        <div class="row">
            <div class="col-sm-5 form-group">
                <!-- <label for="name">Name</label> -->
                <input class="form-control"
                    ngModel
                    name="name"
                    required
                    type="text"  
                    id="name"                      
                    #name="ngModel" 
                    placeholder="Name"     
                >
            </div>            
            <span class="help-block" style="color: red;"
                *ngIf="!name.valid && name.touched">Invalid name
            </span>
            <div class="col-sm-5 form-group">
                <!-- <label for="name">Name</label> -->
                <input class="form-control"
                ngModel                
                name="amount"
                required
                #amount="ngModel" 
                pattern="^[1-9]+[0-9]*$"
                type="number"  id="amount" placeholder="amount">
            </div>
            <!--  required
                pattern="^[1-9]+[0-9]*$" -->
            <span class="help-block" style="color: red;"
                *ngIf="!amount.valid && amount.touched">Invalid amount
            </span>
            
            <div class="row">
                <div class="col-xs-12" style="text-align:center; margin: auto;">
                    <button type="submit"
                        [disabled]="!formEdit.valid"
                        style="width: 30%;" 
                        class="btn btn-success"
                        > {{ editMode ? 'Update' : 'Add' }}
                    </button>
                    <button type="button"
                        *ngIf="editMode"
                        (click)="onDelete()"
                        style="width: 30%;" class="btn btn-danger"    
                        > Delete
                    </button>
                    <button type="button"
                        (click)="onClear()"
                        style="width: 30%;" 
                        class="btn btn-primary" 
                        >Clear
                    </button>
    
                </div>
            </div>            
        </div>
    </form>

    <div [ngStyle]="{backgroundColor: getColor()}">
        <p *ngIf="textError!=''">{{textError}} - <span class="glyphicon glyphicon-heart"></span> </p>
    </div>
    
</div>

<!-- **************************  otro form********************************** -->

<!-- <div class="col-xs-12" style="background-color: violet;">


    <h4>EDIT RECIPE <i>Add ingredient</i></h4>
    <form action="">
        <div class="row">
            <div class="col-sm-5 form-group">
                <input type="text" #nameInput id="name" placeholder="Name" class="form-control">
            </div>
            <div class="col-sm-5 form-group">
                <input type="number" #amountInput id="amount" placeholder="amount" class="form-control">
            </div>
            <div class="col-sm-4 " *ngIf="other">
                <button style="width: 100%; background-color: rgb(31, 16, 31);" class="btn btn-success"
                    (click)="addOther()">Other</button>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12" style="text-align:center; margin: auto;">
                <button style="width: 30%;" class="btn btn-success" type="submit"
                    (click)="addIngred()">Add</button>
                <button style="width: 30%;" class="btn btn-danger" type="button"
                    (click)="deleteIngred(nameInput, amountInput)">Delete</button>
                <button style="width: 30%;" class="btn btn-primary" type="button">Clear</button>

            </div>
        </div>

    </form>

    <div [ngStyle]="{backgroundColor: getColor()}">
        <p *ngIf="textError!=''">{{textError}} - <span class="glyphicon glyphicon-heart"></span> </p>
    </div>

</div> -->