<div class="col-xs-10 col-sm-10 col-md-10 alert is-helpful" style="text-align: center;">
  <h2><b>{{title}} - Formulario</b><q><u><i><small>( form reactiv)</small></i></u></q></h2>
</div>
<hr>
 
<div class="form-group" style="border: 1px dotted green">
  <label for="" style="text-align: center;">
    Suma/Resta
  </label>

  <!-- Aca son botones de muestra -->
  <div class="row">
    <div class="col-xs-5 col-sm-5">
      <button type="button"  style="width: 100%;background-color: transparent"
       (click)="restaIncremental()">
        <i class="fa fa-minus" 
          style="font-size:28px; color:rgb(248, 236, 236); background-color: transparent">
        </i>
      </button>
    </div>
    <div class="col-xs-2 col-sm-2" style="align-content: center;">
      <!-- <p style="font-size: 22px">{{incrementa}}</p> -->
     <!--  <p style="font-size: 22px">PI = {{pi | number }}</p> -->
      <!-- <p style="font-size: 22px">{{incrementaString}}</p> -->
     <!--  <input 
      type="number"
      style="font-size: 22px; color: white; background-color: black;"
      [(ngModel)]="incrementa" 
      > -->
      <input 
            type="number" 
            [value]="incrementa"
            style="background-color: transparent; color: red; border:none; font-size: 22px;" >
    </div>
    <div class="col-xs-5 col-sm-5" >
      <button type="button"  style="width: 100%;background-color: transparent"
       (click)="sumaIncremental()">
        <i class="fa fa-plus" 
          style="font-size:28px; color:rgb(248, 236, 236); background-color: transparent">
        </i>
      </button>
    </div>
  </div>
</div>
<hr>
<div class="col-xs-12 col-sm-10 col-md-10 col-sm-offset-1 col-md-offset-2">

  <form [formGroup]='newPost' (ngSubmit)="onSubmit()">
      <!-- <form #newPost="ngForm" (ngSubmit)="onCreatePost(newPost.value)"> -->

      <!-- este campo usara helper incremental reusable -->    
      <!-- Aca abajo esta un componente reusable -->
      <!--   <div class="form-group">
      <label for="incremental">Increment +/- <i class="fa fa-location-arrow"></i></label>
      <app-incremental
        formControlName='incremental'>
      </app-incremental>    
      <span class="help-block" *ngIf="!newPost.get('incremental').valid && newPost.get('incremental').touched">
        <span *ngIf="newPost.get('incremental').errors['required']">
          incremental is required
        </span>
        <span *ngIf="newPost.get('incremental').hasError('min')">
          Must have a minimum of 2
        </span>
      </span>
    </div> -->
    <br>
    <hr>
 <!--    <div class="form-group">
        <input 
              class="form-control" 
              formControlName='incremental'
              required
              type="number" 
              [value]="incrementa"
              style="background-color: transparent; color: red; border:none; font-size: 22px;" />
      
      <span class="help-block" *ngIf="!newPost.get('incremental').valid && newPost.get('incremental').touched">
        <span *ngIf="newPost.get('incremental').errors['required']">
          incremental is required
        </span>
        <span *ngIf="newPost.get('incremental').hasError('min')">
          Must have a minimum of 2
        </span>
      </span>
    </div> -->
    
    <hr>

    <div class="form-group">
      <label for="id">Stock <i class="fa fa-balance-scale"></i></label>
      <input type="number"
            class="form-control" 
            formControlName='incremental'
            required/>
    
    <span class="help-block" *ngIf="!newPost.get('incremental').valid && newPost.get('incremental').touched">
      <span *ngIf="newPost.get('incremental').errors['required']">
        incremental is required
      </span>
      <span *ngIf="newPost.get('incremental').hasError('min')"> 
        Must have a minimum of 4
      </span>
    </span>
  </div>
   
    <div class="form-group">
      <label for="id">ID <i class="fa fa-location-arrow"></i></label>
      <input type="number" class="form-control" formControlName='id' id="id" required placeholder="ID entre 1-20"
        name="id" min="1" max="20" />

      <span class="help-block" *ngIf="!newPost.get('id').valid && newPost.get('id').touched">
        <span *ngIf="newPost.get('id').errors['required']">
          ID is required
        </span>
      </span>
    </div>

    <div class="form-group">
      <label for="title">Title <i class="fa fa-tasks"></i></label>
      <input type="text"
        class="form-control" 
        formControlName='title' id="title" required
        name="title"
        placeholder="Title required"
       />  <!--  (input)="changeName($event)"  -->

      <span class="help-block"
        *ngIf="!newPost.get('title').valid && newPost.get('title').touched">
        <span *ngIf="newPost.get('title').errors['required']">
          Title is required
        </span>
        <span *ngIf="newPost.get('title').errors['noName']">
          Not allow this title
        </span>
        <span *ngIf="newPost.get('title').hasError['maxLength']">
          Please enter content whith maxLength of 10
        </span>
      </span>
    </div>

    <div class="form-group">
      <label for="content">Content <i class="fa fa-leaf"></i></label>
      <textarea class="form-control" formControlName='content' id="content" required name="content"
        placeholder="Content required">
            </textarea>
      <span class="help-block" style="color: rgb(250, 123, 186);"
        *ngIf="!newPost.get('content').valid && newPost.get('content').touched">
        <span *ngIf="newPost.get('content').errors['required']">
          Must have a content
        </span>
        <span *ngIf="newPost.get('content').errors['minLength']">
          Please enter content whith minlength of 8
        </span>
      </span>
    </div>
    <!--    <div class="form-group">
            <label for="imagePath">Image URL</label>
            <input 
                class="form-control"
                formControlName= 'imagePath' 
                name="imagePath"                    
                type="text" 
                id="imagePath"
                placeholder="Image URL" title="Image URL"
              >          
              <span class="help-block" style="color: red;"
                *ngIf="!newPost.get('imagePath').valid && newPost.get('imagePath').touched">                  
                Required URL
              </span>          
          </div>  -->
    <div class="form-group">
      <label for="imagePost">Image</label>
      <input class="form-control" formControlName='imagePost' name="imagePost" type="file" 
        id="imagePost" accept=".jpg, .png"
        placeholder="Image URL" title="Image URL" 
        (change)="handleImage($event)">
      <span class="help-block" style="color: red;"
        *ngIf="!newPost.get('imagePost').valid && newPost.get('imagePost').touched">
        Required URL
      </span>
    </div>

    <hr>
    <!--     <span class="pull-right">
            <img [src]="image"
                alt="{{image.title}}" 
                class="img-responsive"
                style="max-height: 50px;"
            >
          </span> -->

    <button class="btn btn-success" id="btnSubmit" 
      type="submit" style="width: 100%;" 
      [disabled]="!newPost.valid"> 
      <i class="fa fa-location-arrow"> </i>
    </button>
  </form>
</div>