<div class="col-xs-10 col-sm-10 col-md-10 alert is-helpful" style="text-align: center;">
  <h2><b>{{title}} - Formulario</b><q><u><i><small>( form reactiv)</small></i></u></q></h2>
</div>
<hr>
<div class="col-xs-12 col-sm-10 col-md-10 col-sm-offset-1 col-md-offset-2">

  <form [formGroup]='newPost' (ngSubmit)="onSubmit()">
    <!-- <form #newPost="ngForm" (ngSubmit)="onCreatePost(newPost.value)"> -->
    <div class="form-group">
      <label for="id">ID <i class="fa fa-location-arrow"></i></label>
      <input type="number" class="form-control" formControlName='id' id="id" required placeholder="ID entre 1-20"
        name="id" min="1" max="20" />

      <span class="help-block" *ngIf="!newPost.get('id').valid && newPost.get('id').touched">
        <span *ngIf="newPost.get('id').errors['required']">
          ID is required
        </span>
      </span>
    </div>

    <div class="form-group">
      <label for="title">Title <i class="fa fa-tasks"></i></label>
      <input type="text"
        class="form-control" 
        formControlName='title' id="title" 
        required name="title"
        placeholder="Title required"
       />  <!--  (input)="changeName($event)"  -->

      <span class="help-block"
        *ngIf="!newPost.get('title').valid && newPost.get('title').touched">
        <span *ngIf="newPost.get('title').errors['required']">
          Title is required
        </span>
        <span *ngIf="newPost.get('title').errors['noName']">
          Not allow this title
        </span>
        <span *ngIf="newPost.get('title').errors['maxLength']">
          Please enter content whith maxLength of 10
        </span>
      </span>
    </div>
    <div class="form-group">
      <label for="content">Content <i class="fa fa-leaf"></i></label>
      <textarea class="form-control" formControlName='content' id="content" required name="content"
        placeholder="Content required">
            </textarea>
      <span class="help-block" style="color: rgb(250, 123, 186);"
        *ngIf="!newPost.get('content').valid && newPost.get('content').touched">
        <span *ngIf="newPost.get('content').errors['required']">
          Must have a content
        </span>
        <span *ngIf="newPost.get('content').errors['minLength']">
          Please enter content whith minlength of 8
        </span>
      </span>
    </div>
    <!--    <div class="form-group">
            <label for="imagePath">Image URL</label>
            <input 
                class="form-control"
                formControlName= 'imagePath' 
                name="imagePath"                    
                type="text" 
                id="imagePath"
                placeholder="Image URL" title="Image URL"
              >          
              <span class="help-block" style="color: red;"
                *ngIf="!newPost.get('imagePath').valid && newPost.get('imagePath').touched">                  
                Required URL
              </span>          
          </div>  -->
    <div class="form-group">
      <label for="imagePost">Image</label>
      <input class="form-control" formControlName='imagePost' name="imagePost" type="file" 
        id="imagePost" accept=".jpg, .png"
        placeholder="Image URL" title="Image URL" 
        (change)="handleImage($event)">
      <span class="help-block" style="color: red;"
        *ngIf="!newPost.get('imagePost').valid && newPost.get('imagePost').touched">
        Required URL
      </span>
    </div>

    <hr>
    <!--     <span class="pull-right">
            <img [src]="image"
                alt="{{image.title}}" 
                class="img-responsive"
                style="max-height: 50px;"
            >
          </span> -->

    <button class="btn btn-success" id="btnSubmit" type="submit" style="width: 100%;" [disabled]="!newPost.valid"> <i
        class="fa fa-location-arrow"> </i>
    </button>
  </form>
</div>