<p>list-server works OK, with servResolve!</p>

<!-- <h4><em>{{server.name}} with ID: {{server.id}}</em></h4> -->

<div *ngIf="server">
    <p #uno>Algo</p>
    <p #dos>NADA</p>

</div>
<p *ngIf="!server" style="color: crimson;">no hay</p>
<p *ngIf="server" style="color: rgb(20, 190, 220);">si hay</p>


<div *ngIf="server; else infoText">
    <p style="color: rgb(147, 20, 220);">
        Server status is {{ server.status }}
    </p>
</div>
<ng-template #infoText>
    <p style="color: rgb(101, 173, 7);">
        Data wrong
    </p>
</ng-template>

<!-- <p>Server status is {{ server.status }}</p>
 --><!-- <h4><em>{{server.name}} with ID: {{server.id}}</em></h4> -->
<button class="btn btn-success" style="width: 80%;"
    (click)="onEdit()">Edit  now
</button>