<div class="flex-container" style="border: rgb(97, 241, 68) 3px solid;">
  <!-- <div class="container" style="border: rgb(97, 241, 68) 3px solid;">-->
  <div class="row">
    <div class="col-md-6 offset-4">
      <h3 style="text-align: center; ">All Users</h3>
    </div>
  </div>
  <div class="row">
    <!-- <div class="col-md-6 col-sm-6 col-xs-12">
    </div>  -->
    <div class="col-md-12 col-sm-12 col-xs-12">
      <p style="text-align: center; color: rgb(197, 211, 9)">
        By clicking below, the information generated can be seen at the top of the page.
      </p>
    </div>
    <div class="col-md-6 col-sm-6 col-xs-12">
      <p>The information passes with event emmiter</p>
      <button class="btn btn-default" style="color:rgb(197, 211, 9)" 
        (click)="activateEmitter()"> activate
        EMITTER
      </button>
    </div>
    <div class="col-md-6 col-sm-6 col-xs-12">
      <p>The information passes with new Subject from 'rxjs'</p>
      <button class="btn btn-default" style="color:rgb(197, 211, 9)" 
        (click)="activateSubject()"> activate
        SUBJECT
      </button>
    </div>
  </div>


  <div class="panel-body" style="background-color: rgb(202, 209, 218);">
    <ng-content></ng-content>
  </div>

  <!-- <ul class="list-group">
    <li class="list-group-item" *ngFor="let user of allUsers; let i = index">
      <div *ngIf="allUsers.length>3; else infoTextUsusu">
        <p>Que lo pario</p>
      </div>
      <ng-template #infoTextUsusu>
        <p style="background-color: greenyellow; text-align: center">Careful: there's few users</p>
      </ng-template>
      <a>
        (ID: {{ user.id }}) -{{ user.name }} {{ user.lastname }}- (Fecha {{user.timeStamp|date}} ) |
      </a>
      <button class="btn btn-success" style="width: 30%;" (click)="delete(i)">DELETE</button>
    </li>
  </ul> -->


  <div class="row" style="border: rgb(88, 139, 127) 2px solid;">

      <p style="color:blueviolet">
        Below can see how add parameters, plus if you delete it,
        it change others parameters too
        and retrieved user info !
      </p>
      <!-- #region -->
      <div class="row" style="border: 1px solid pink;">
        <p>Add Orders <i class="fa fa-spinner fa-spin fa-2x fa-fw"></i>
          <i>(Fenix)</i>
        </p>
        <div class=" col-xs-2">
          <p>Total Price $: {{totalFenixPrice}}</p>
          <p>Temporal Users {{temporalAllUsers}}</p>
          <ul class="list">
            <li *ngFor="let u of temporalAllUsers" style="text-decoration: none;">
              <span>{{u.name}} {{u.lastname}}</span>
              <!-- <a routerLink="/login"  -->
              <a (click)="removeeTemp(u)">
                <i class="fas fa-trash"></i>
              </a>
            </li>
          </ul>
          <label for="idOrder">ID Order</label>
          <input type="number" placeholder="Nº"
             id="idOrder" style="width: 70%; color: indigo;"
             [(ngModel)]='idOrder'
            [disabled]= "!temporalAllUsers.length">

          <!--  <input type="number" placeholder=" Quantity" 
                      formControlName='quantity' 
                      class="form-control"> -->
          <button class="btn btn-success" 
                id="btnAddOrder"
                (click)="onAddOrder()"
                [disabled]= "!temporalAllUsers.length">
                Add order
          </button>
          <button (click)="save()">save</button>
          &nbsp;
          <button (click)="getUsers2()">get</button>
          &nbsp;
          <!-- <button (click)="changeStatus()">change Status</button> -->
        </div>         
        
         <hr>
        <!-- BOTTONS PINK -->
        <div class=" button-list col-xs-10">
          <button class="myButton" (click)="onAddFenix(p)" 
              *ngFor="let p of allUsers">
            {{ p.name }} {{ p.lastname }} - $ {{p.price}}
          </button>
        </div>

        <br>
          <!-- FORM -->
        <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2" 
            style="border: dotted 1px red; width: auto;">
          <h3>Complete the form to sign up for the course.</h3>
          
          <form class="form" [formGroup]='myForm' (ngSubmit)="onSubmit()">

            <div class="form-group">
              <label for="customerName">Customer Name</label>
              <select name="customerName" id="customerName"
                       class="form-control" 
                       formControlName="customerName">
                <option value="" disabled>Select one</option>
                <option *ngFor="let usu of allUsers" value={{usu.name}}>
                  {{usu.name}}
                </option>
              </select>
              <span class="help-block" style="color: hotpink;"
                *ngIf="!myForm.get('customerName').valid && myForm.get('customerName').touched">
                <span *ngIf="myForm.get('customerName').errors['required']">
                  Name is required
                </span>
              </span>
            </div>

            <div class="form-group">
              <label for="">Last Name</label>
              <input type="text" placeholder=" Last Name" 
                      formControlName='customerLastName' 
                      class="form-control"
                      maxlength="5">
              <span class="help-block" style="color: hotpink;"
                *ngIf="!myForm.get('customerLastName').valid && myForm.get('customerLastName').touched">
                <span *ngIf="myForm.get('customerLastName').errors['required']">
                  Lastname is required
                </span>
                <span *ngIf="myForm.get('customerLastName').errors['maxlength']">
                  Maxlength = 4 
                </span>
              </span>
            </div>
            
            <div class="form-group">
              <label for="">Status</label>
              <select name="status" id="status"
                       class="form-control" 
                       formControlName="status">
                <option value="" disabled>Select one</option>
                <option value='inactive'> Inactive </option>
                <option value='active'> Active </option>
              </select>              
              <span class="help-block" style="color: hotpink;"
                *ngIf="!myForm.get('status').valid && myForm.get('status').touched">
                <span *ngIf="myForm.get('status').errors['required']">
                  Status is required
                </span>
              </span>
            </div>

            <div class="form-group">
              <label for="">Quantity</label>
              <input type="number" placeholder=" Quantity" 
                      formControlName='quantity' 
                      class="form-control">
              <span class="help-block" style="color: hotpink;"
                *ngIf="!myForm.get('quantity').valid && myForm.get('quantity').touched">
                <span *ngIf="myForm.get('quantity').errors['required']">
                  Quantity is required
                </span>
              </span>
            </div>

            <div class="btnSub">
              <button class="myButton2" 
                id="myButton2" type="submit"
                 [disabled]="!myForm.valid">
                Submit
                <i class="fas fa-cat"> </i>
              </button>
            </div>
          </form>
        </div>
      </div>
      <!-- #endregion -->

      <div 
        class="list-group" 
        *ngIf="allUsers.length>3; else infoTextUsusu">
      </div>

      <div  *ngFor="let user of allUsers; let i = index" class="row" style="padding-left: 10%;">
        <a>
          (ID: {{ user.id }}) -{{ user.name }} {{ user.lastname }}- (Fecha {{user.timeStamp|date}} ) |
        </a>        
            <button class="btn btn-success"  id="btnAddOrder"
                      (click)="delete(i)">
                      DELETE
                    </button>
                    &nbsp;
                    <button class="btn btn-success"  id="btnAddOrder"
                      (click)="changeStatus(user)">change Status
                    </button>
      
      </div>
      <!-- <a [routerLink]="['/users',user.id]" [queryParams]="{ID: user.id}" fragment={{user.name}} class="list-group-item"
        *ngFor="let user of allUsers; let i = index">
        (ID: {{ user.id }}) -{{ user.name }} {{ user.lastname }}- (Fecha {{user.timeStamp|date}} ) |
        <button class="btn btn-primary" style="width: 30%;"
          (click)="delete(i)">
          DELETE
        </button>    -
      </a> -->

    <ng-template #infoTextUsusu>
      <p style="background-color: greenyellow; text-align: center">Careful: there's few users</p>
    </ng-template>

  </div>
</div>